.main-gameplay {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gameplay-body {
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    height: 100%; /* takes up the remaining height */
    width: 100%; /* takes up the full width */
}

.central-section {
    flex-grow: 1; /* allows this element to grow and occupy any remaining space */
    flex: auto;
    display: flex;
}