/* NavigationBar.css */
.navigation-bar {
    background-color: #333; /* dark background */
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation-bar nav ul {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
}

.navigation-bar nav ul li {
    float: left; /* arrange items horizontally */
}

.navigation-bar nav ul li a,
.navigation-bar nav ul li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Remove underline */
}

/* Change color on hover */
.navigation-bar nav ul li a:hover,
.navigation-bar nav ul li button:hover {
    background-color: #111; /* slightly lighter dark background */
    cursor: pointer;
}

/* Clear floats after the list, so the content will not flow alongside the nav */
.navigation-bar::after {
    content: "";
    display: table;
    clear: both;
}
