.image-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: transform 2s, filter 1s; /* Adjust time as needed */
  }
  
.image-container.zoom {
  transform: translateX(20%)  translateY(-310%)  scale(10)  ; /* Or whatever scale you want for your zoom */
  filter: brightness(70%);
}
