.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
button {
   margin: 10px;
   padding: 10px;
   font-size: 16px;
   width: 20vw;
}
  